<br>
<br>
<form {{action "save" on="submit"}}>
    {{!-- <div>
    {{radio-button value="bigThing" id="bigThing" checked=formValues.priority name="bigThing"}}
    <label for="bigThing">Big Thing</label>
    <br> 
    {{radio-button value="personal" id="personal" checked=formValues.priority name="personal"}}
    <label for="personal">Personal</label>
    </div> --}}
    <div>
        {{input placeholder="Your Goal" class="top5-input" value=formValues.content}}
    </div>
    <button type="submit">Add Goal</button>
</form>

{{#each model.goals as |goal|}}
    <p>
        <input type="checkbox" checked={{if goal.finished 'checked'}} onchange={{action "toggle" goal}} />
        {{goal.name}}
    </p>
{{/each}}