<div class="section">
    <div class="container">
        {{#link-to "index" class="button"}}Home{{/link-to}}
        {{outlet}}
        {{!-- <form {{action "save" on="submit"}}>
            <p>Is this your weekly or daily top 5?</p>
            <div>
            {{radio-button value="weekly" id="weekly" checked="timeframe" name="radio"}}
            <label for="weekly">Weekly</label>
            <br>
            {{radio-button value="daily" id="daily" checked="timeframe" name="radio"}}
            <label for="daily">Daily</label>
            <br>
            <br>
            {{input placeholder="Name" class="top5-input" value=formValues.name}}
            <br>
            {{input placeholder="Thing 1" class="top5-input" value=formValues.bigThings.bigThing1}}
            <br>
            {{input placeholder="Thing 2" class="top5-input" value=formValues.bigThings.bigThing2}}
            <br>
            {{input placeholder="Thing 3" class="top5-input" value=formValues.bigThings.bigThing3}}
            <br>
            {{input placeholder="Thing 4" class="top5-input" value=formValues.bigThings.bigThing4}}
            <br>
            {{input placeholder="Thing 5" class="top5-input" value=formValues.bigThings.bigThing5}}
            <br>
            {{input placeholder="Personal" class="top5-input" value=formValues.personals.personal}}
            </div>
            <br>
            <br>
            <button type="submit">Submit</button>
        </form> --}}
    </div>
</div>