<div class="section">
    <div class="container">
        {{#link-to "index" class="button"}}Home{{/link-to}}
        <div class="list">
            <div class="list__user">
                <h2>Your Top 5</h2>
                <ul>
                    <li><input type="checkbox">xxxxxx</li>
                    <li><input type="checkbox">xxxxxx</li>
                    <li><input type="checkbox">xxxxxx</li>
                    <li><input type="checkbox">xxxxxx</li>
                    <li><input type="checkbox">xxxxxx</li>
                </ul>
            </div>
            {{#each data as |item|}}
                <div class="list__item">
                    <div class="list__item__head">
                    <h3>{{item.name}}</h3>
                    <button {{action "toggleBody" item}}>View Top 5</button>
                    </div>
                    {{#if item._display}}
                        <p><input type="checkbox" disabled>1: {{item.thing1}}</p>
                        <p><input type="checkbox" disabled>2: {{item.thing2}}</p>
                        <p><input type="checkbox" disabled checked>3: {{item.thing3}}</p>
                        <p><input type="checkbox" disabled checked>4: {{item.thing4}}</p>
                        <p><input type="checkbox" disabled>5: {{item.thing5}}</p>
                        <p><input type="checkbox" disabled checked>Personal: {{item.personal}}</p>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
</div>